/*
$turquoise-green: #bdd9bfff;
$black-coral: #465362ff;
$red-ncs: #ba1f33ff;
$warm-black: #104547ff;
$white: #ffffffff;
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: rgb(211, 231, 212);
    color: #104547;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

a, a:hover, a:active, a:visited {
    color: #104547;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container > * {
    margin: 0 20px 20px 20px;
}

.map {
    flex: 1;
    min-width: 320px;
    max-width: 750px;
}

.map figcaption {
    margin-top: 10px;
    font-size: small;
    font-style: italic;
    text-align: center;
    
}


header {
    width: 750px;
    
    margin-bottom: 40px;
    padding: 0 10px;
}

@media (max-width: 750px) {
    header {  
        width: auto;
        text-align: center;
    }

    footer {
        width: 100%;
    }
}

header .counter {
    margin-right: 20px;
}



.counter {
    font-size: 21px;
    white-space: nowrap;
    display: inline-flex;
    align-items: baseline;
    margin-bottom: 4px;
}

.counter__label, .counter__text {
    display: block;
}

.counter__label {
    width: 290px;
}

.counter__text {
    background: white;
    box-sizing: content-box;
    width: 3ch;
    text-align: right;
    padding: 8px;
}

@media (max-width: 380px) {
    .counter {
        font-size: 16px;
    }
    .counter__label {
        width: 230px;
    }
}


.legend {
    border-collapse: collapse;
}

.legend td {
    border: solid transparent;
    /* border: solid rgba(0, 0, 0, .07); */
    border-width: 4px 10px;
}

.legend__row.highlight {
    background: white;
}

.legend__header {
    font-size: small;
}

@media (max-width: 380px) {
    .legend__header {
        font-size: x-small;
    }
}

.legend__threat-bar {
    width: 1em; height: 1em;
    box-sizing: content-box;
    border: 1px solid currentColor;
    position: relative;
}

.legend__threat-bar-covid {
    width: 100%;
    background: #BA1F33;
}

.legend__threat-bar-zraneni {
    width: 100%;
    background: #465362;
}

.legend__region-name {
    font-weight: 600;
}

.legend__car-accidents, .legend__covid-19 {
    text-align: right;
}



footer {
    font-size: small;
    max-width: 750px;
    margin: auto;
    text-align: justify;
    padding: 10px;
}



.github-ribbon {
    position: fixed;
    top: 0;
    right: 0;
}

@media (max-width: 750px) {
    .github-ribbon {
        display: none;
    }
}